
<View>
<View style="display:flex;align-items:start;gap:8px;flex-direction:column-reverse">
  <Text name="text" value="$text"/>
  <Labels name="lbl" toName="text" showInline="false">
    <Label value="event" background="#88dc56"/>
    <Label value="time" background="#31cca9"/>
    <Label value="place" background="#6ad7df"/>
    <Label value="perception" background="#378ece"/>
    <Label value="emotion/thought" background="#9c2ecb"/>
    <Label value="ext:event" background="#c5c918"/>
    <Label value="ext:semantic" background="#ef940c"/>
    <Label value="ext:repetition" background="#eed36a"/>
    <Label value="ext:other" background="#b4ab9c"/>
  </Labels>
</View>
</View>